.container {
  position: relative;
  z-index: 0;
  --shadow-space: 20px;
}

.box {
  border-radius: var(--radius);
}

.shadowBox {
  z-index: -1;
  position: absolute;
  background-color: hsl(var(--muted-foreground));
  width: calc(100% - var(--shadow-space));
  height: calc(100% - var(--shadow-space));
  top: var(--shadow-space);
  left: var(--shadow-space);
}

.contentBox {
  background-color: hsl(var(--muted));
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--space-4);
  margin-right: var(--shadow-space);
  margin-bottom: var(--shadow-space);
  padding: 0 var(--space-5);
}

.content a {
    color: inherit;
    text-decoration: none;
}

.icon svg {
  width: var(--font-size-7);
  height: var(--font-size-7);
}
