---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Not Found" footer={false}>
  <main>
    <div style="height: 100vh">
      <p class="text-3xl bg-red-900">Reached 404 :(</p>
    </div>
  </main>
</Layout>
