---
import Layout from "@layouts/Layout.astro";
import styles from "@styles/styles.module.css";
---

<Layout title="Not Found" footer={false}>
  <main>
    <div style="height: 100vh">
      <p class={styles.error}>Reached 404 :(</p>
    </div>
  </main>
</Layout>
