---
import Layout from '../layouts/Layout.astro';
import styles from './styles.module.css';
---

<Layout title="Elias Pettersen Chairi">
	<main>
		<h1 class={styles.title}>Elias Pettersen Chairi</h1>
		<div style="height: 90vh">
	</main>
</Layout>
