---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Elias Pettersen Chairi">
	<main>
		<h1 class="text-3xl">Elias Pettersen Chairi</h1>
		<div style="height: 90vh">
	</main>
</Layout>
